*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.background{
    background-color: lightgray;
}

.divFormulario{
    margin: 0 auto;
    width: 40%;
    max-width: auto;
}

.tituloForm{
    text-align: center;
}

#formulario{
    border: 2px solid;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
}

input[type=text], [type=date], [type=time], [type=number]{
    width: 100%;
}

.botao{
    width: 30%;
    padding: 10px;
    display: inline-block;
    border: none;
    border-radius: 8px;
}